{{ define "auth" }}
{{ template "header" . }}

<body>
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

                            <h3 class="mb-5">Sign in</h3>
                            <form action="{{ .Path }}" method="POST">
                                <div class="form-outline mb-4">
                                    <input type="email" id="typeEmailX-2" name="email" class="form-control border" />
                                    <label class="form-label" for="typeEmailX-2">Email</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="password" id="typePasswordX-2" name="password" class="form-control border" />
                                    <label class="form-label" for="typePasswordX-2">Password</label>
                                </div>

                                <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
                            </form>
                            <hr class="my-4">

                        </div>
                    </div>
                </div>
                {{ if .Message }}
                <div class="alert alert-light alert-dismissible d-flex small align-items-center position-absolute top-40 start-50 translate-middle col-md-3 col-md-offset-3"
                    role="alert">
                    <svg class="bi flex-shrink-0 me-2" role="img" width="24" height="24" fill="{{ .Color }}">
                        <use xlink:href="#{{ .Icon }}" />
                    </svg>
                    <div class="ms-1">{{ .Message }}</div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {{ end }}
            </div>
        </div>
    </section>
</body>
{{ end }}