{{ define "auth" }}
{{ template "header" . }}

<body>
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <div class="position-absolute top-0 start-50 translate-middle bg-white">
                                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="#D3D3D3"
                                    class="bi bi-person-circle" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                    <path fill-rule="evenodd"
                                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                                </svg>
                            </div>
                            <h3 class="mb-5 mt-2 text-muted"><strong>Sign In</strong></h3>
                            <form action="{{ .Path }}" method="POST">
                                <div class="form-floating mb-4">
                                    <input type="email" id="typeEmailX-2" name="email" class="form-control" required>
                                    <label for="typeEmailX-2">Email</label>
                                </div>

                                <div class="form-floating mb-4">
                                    <input type="password" id="typePasswordX-2" name="password" class="form-control"
                                        required>
                                    <label for="typePasswordX-2">Password</label>
                                </div>
                                <div class="d-grid gap-2"><button class="btn btn-lg btn-primary"
                                        type="submit">Login</button>
                                </div>
                            </form>
                            <hr class="my-4">
                            <span class="d-inline p-2"><a href="#" class="text-reset">Cadastar</a></span>
                            <span class="d-inline p-2 text-muted">|</span>
                            <span class="d-inline p-2"><a href="#" class="text-reset">Resetar</a></span>
                        </div>
                    </div>
                </div>
                {{ if .Message }}
                <div class="alert alert-light border-secondary alert-dismissible d-flex align-items-center position-absolute top-40 start-50 translate-middle col-md-3 col-md-offset-3"
                    role="alert">
                    <svg class="bi flex-shrink-0 me-2" role="img" width="24" height="24" fill="{{ .Color }}">
                        <use xlink:href="#{{ .Icon }}" />
                    </svg>
                    <div class="ms-1">{{ .Message }}</div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {{ end }}
            </div>
        </div>
    </section>
</body>
{{ end }}