{{ define "tickets" }}
{{ template "header" . }}
<header>
    {{ template "menu" }}
    <!-- Jumbotron -->
</header>

<body>
    <div class="row px-4">
        <form class="border rounded col align-self-center p-4" name="form" method="post">
            <legend>{{ .Body }}</legend>
            {{ range .Ticket }}
            <p>Testando....</p>
            <div class="col-lg-2 mb-3 mt-3">
                <label for="numero">Número:</label>
                <input type="text" id="numero" name="numero" class="form-control">
            </div>
            <div class="col-lg-2 mb-3">
                <label for="disabledSelect" class="form-label">Grupo de Atendimentos:</label>
                <select id="grupoatendimento" name="grupoatendimento" class="form-select">
                    <option selected>{{ .GrupoAtendimento }}</option>
                    <option>Sistemas Corporativos</option>
                    <option>InfraEstrutura</option>
                    <option>Automção Lojas</option>
                </select>
            </div>
            <div class="col-lg-4 mb-3">
                <label for="disabledTextInput" class="form-label">Ocorrência:</label>
                <textarea type="text" id="ocorrencia" name="ocorrencia" class="form-control"
                    value="{{ .Ocorrencia }}"></textarea>
            </div>
            <div class="mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="reset" name="reset">
                    <label class="form-check-label" for="disabledFieldsetCheck">
                        Reset password
                    </label>
                </div>
            </div>
            <input type="submit" name="alterar" value="Salvar" class="btn btn-outline-success"
                onclick="javascript: form.action='/tickets/{{ .Model.ID }}/1'" />
            <input type="submit" name="deletar" value="Deletar" class="btn btn-outline-danger"
                onclick="javascript: form.action='/tickets/{{ .Model.ID }}/2';return confirm('Deseja realmente excluir esse ticket?');" />
            <a class="btn btn-outline-primary" href="/" role="button">Voltar</a>
            {{ else }}
            <div class="col-lg-2 mb-3">
                <label for="disabledSelect" class="form-label">Grupo de Atendimento:</label>
                <select id="grupoatendimento" name="grupoatendimento" class="form-select">
                    <option>Sistemas Corporativos</option>
                    <option>InfraEstrutura</option>
                    <option>Automção Lojas</option>
                </select>
            </div>
            <div class="col-lg-4 mb-3">
                <label for="disabledTextInput" class="form-label">Ocorrência:</label>
                <textarea type="text" id="ocorrencia" name="ocorrencia" class="form-control"></textarea>
            </div>
            <div class="mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="reset" name="reset">
                    <label class="form-check-label" for="disabledFieldsetCheck">
                        Reset password
                    </label>
                </div>
            </div>
            <input type="submit" name="alterar" value="Salvar" class="btn btn-outline-success"
                onclick="javascript: form.action='/tickets/0/1'" />
            <input type="submit" name="deletar" value="Deletar" class="btn btn-outline-danger"
                onclick="javascript: form.action='/tickets/0/2';return confirm('Deseja realmente excluir esse ticket?');" />
            <a class="btn btn-outline-primary" href="/" role="button">Voltar</a>
            {{ end }}
        </form>
    </div>
</body>
{{template "footer"}}
{{end}}