{{ define "users" }}
{{ template "header" . }}
<header>
    {{ template "menu" }}
    <!-- Jumbotron -->
</header>

<body>
    <div class="row p-4">
        <form class="border rounded col align-self-center p-4" name="form" method="post">
            <legend>{{ .Body }}</legend>
            {{ range .User }}
            <div class="col-lg-4 mb-3">
                <label for="disabledTextInput" class="form-label">Nome</label>
                <input type="text" id="name" name="name" class="form-control" value="{{ .Name }}">
            </div>
            <div class="col-lg-2 mb-3">
                <label for="disabledSelect" class="form-label">Perfil</label>
                <select id="role" name="role" class="form-select">
                    <option>admin</option>
                    <option>user</option>
                    <option>guest</option>
                </select>
            </div>
            <div class="mb-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="reset" name="reset">
                    <label class="form-check-label" for="disabledFieldsetCheck">
                        Reset password
                    </label>
                </div>
            </div>
            <input type="submit" name="alterar" value="Salvar" class="btn btn-outline-success"
                onclick="javascript: form.action='/users/{{ .Model.ID }}/1'" />
            <input type="submit" name="deletar" value="Deletar" class="btn btn-outline-danger"
                onclick="javascript: form.action='/users/{{ .Model.ID }}/2';return confirm('Deseja realmente excluir esse usuário?');" />
            <a class="btn btn-outline-primary" href="/" role="button">Voltar</a>
            {{ end }}
        </form>
    </div>
</body>
{{template "footer"}}
{{end}}