{{ define "users" }}
{{ template "header" . }}
<header>
    {{ template "menu" }}
    <!-- Jumbotron -->
</header>

<body>
    <div class="p-4">
        <h4>Lista de usuários</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Id.</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                </tr>
            </thead>
            <tbody>
                {{ range .User }}
                <tr>
                    <th scope="row">{{ .Model.ID }}</th>
                    <td>{{ .Name }}</td>
                    <td>{{ .Email }}</td>
                    <td>{{ .Role }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</body>
{{template "footer"}}
{{end}}